<div class="container" >
    <div class="row" *ngIf="viewRecipe">
      <div class="col-md-8">
        <h2>{{ recipe.title }}</h2>
        <img [src]="recipe.image" alt="{{ recipe.title }}" class="img-fluid">
        <p [innerHTML]="recipe.summary"></p>
  
        <h3>Ingredientes</h3>
        <ul>
          <li *ngFor="let ingredient of recipe.extendedIngredients">
            {{ ingredient.amount}} {{ ingredient.measures.metric.unitShort}} - {{ ingredient.name}}
          </li>
        </ul>
  
        <h3>Pasos a Seguir</h3>
        <ol>
          <li *ngFor="let step of recipe.analyzedInstructions[0]?.steps">
            {{ step.step }}
          </li>
        </ol>
      </div>
      <div class="col-md-4">
        <h3>Detalles adicionales</h3>
        <ul>
          <li>Tiempo de Preparación: {{ recipe.preparationMinutes }} minutos</li>
          <li>Tiempo de Cocción: {{ recipe.cookingMinutes }} minutos</li>
        </ul>
      </div>
    </div>
  </div>
