<article class="container">
  <div class="row" *ngIf="viewRecipe">
    <div class="col-12 mb-3 mb-md-5">
      <h2 class="text-center text-orange mb-md-5">
        {{ recipe.title | translate : "es" | async }}
      </h2>
      <div class="row mb-3">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
          <img
            [src]="
              'https://spoonacular.com/recipeImages/' +
              recipe.id +
              '-556x370.' +
              (recipe.imageType ? recipe.imageType : 'jpg')
            "
            alt="{{ recipe.title }}"
            class="img-fluid rounded rounded-3 custom-shadow"
          />
        </div>
        <div
          class="col-12 col-lg-6 d-flex bg-light bg-gradient bg-opacity-25 p-5 justify-content-center align-items-center rounded rounded-3 custom-shadow"
        >
          <p
            [innerHTML]="recipe.summary | translate : 'es' | async"
            class="text-primary"
          ></p>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <h3>Detalles adicionales</h3>
        <ul>
          <li>Tiempo de Preparación: {{ recipe.preparationMinutes }} minutos</li>
          <li>Tiempo de Cocción: {{ recipe.cookingMinutes }} minutos</li>
        </ul>
      </div> -->
    </div>
    <h3 class="mb-2 mb-md-4">
      <img
        class="img-fluid pb-2 me-1"
        [ngSrc]="ingredient"
        alt="logo sombrero de cocina"
        height="32"
        width="32"
      />
      Ingredientes
    </h3>
    <div
      class="row d-flex px-md-5 mb-3 justify-content-center justify-content-md-start"
    >
      <div
        class="col-auto"
        *ngFor="let ingredient of recipe.extendedIngredients"
      >
        <app-recipe-ingredient [ingredient]="ingredient" />
      </div>
    </div>

    <h3>
      <img
        class="img-fluid pb-2 me-1"
        [ngSrc]="instructions"
        alt="logo sombrero de cocina"
        height="32"
        width="32"
      />
      Pasos a Seguir
    </h3>
    <div
      class="row bg-light bg-gradient bg-opacity-25 rounded rounded-3 custom-shadow mb-3"
    >
      <div
        class="col-12 d-flex my-3" style="height: 32px;"
        *ngFor="let step of recipe.analyzedInstructions[0]?.steps"
      >
        <img
          class="img-fluid pb-2 me-1"
          [ngSrc]="stepimg"
          alt="logo sombrero de cocina"
          height="32"
          width="32"
        />
        <p class="list-group-item">
          {{ step.step | translate : "es" | async }}
        </p>
      </div>
    </div>
  </div>
</article>
