@import "variables";
@import "normalize";

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans Semi Condensed", "Nunito Sans", sans-serif;
  background: radial-gradient(
    circle at top right,
    #ff8d8e,
    #ffc26b,
    #d8bd97,
    #ffffff
  );
  background-size: 100% 1000%;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.scrollable-container {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable-container::-webkit-scrollbar {
  width: 10px;
}
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 3px;
}

.pointer {
  cursor: pointer;
}

.text-orange{
  color: $primary;
  text-shadow: -1px 1px 2px rgba(255, 0, 0, 0.5);
}

.text-grey{
  color: #917d80fb;
}

.custom-shadow {
  box-shadow: -4px 4px 5px 1px rgba(115, 57, 24, 0.75);
  -webkit-box-shadow: -4px 4px 5px 1px rgba(115, 57, 24, 0.75);
  -moz-box-shadow: -4px 4px 5px 1px rgba(115, 57, 24, 0.75);
}

.image-wrapper {
  width: 50px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}
.image {
  display: inline-block;
  max-width: 75px;
  max-height: 50px;
  vertical-align: middle;
  margin: auto;
}

.socialbox {
  z-index: 2;
  &-link {
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 1.5rem !important;
    color: $light;
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
    .fa-facebook:hover {
      color: $facebook;
    }
    .fa-twitter:hover {
      color: $twitter;
    }
    .fa-instagram:hover {
      color: $instagram;
    }
    .fa-linkedin:hover {
      color: $linkedin;
    }
    .fa-github:hover {
      color: $github;
    }
    .fa-brands {
      width: 2rem;
      min-width: 2rem;
      text-align: center;
    }
  }
}